
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
}

#thegame    {
    width: 309px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    width: 309px;

}
table#gameBoard {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0;
    text-align: center;
}
button#clearGame {
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin: 0;
}

.center {
    text-align: center;
    margin-top: 30px;
}

.xColor {
    background-color: red;
}
.oColor {
    background-color: blue;
}