
body {
	width: 960px 
	margin: 0 auto;
}

div{
	width: 100%;
	height: auto;
	margin: 0;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	width: 309px;

}
table#gameBoard {
	border-collapse: collapse;
}

td {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: 0;
}
button#clearGame {
	align-content: center;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	margin: 30px 0 0 105px;


}